<div class="card-header">
  <h3>
    {{ note().title }}
  </h3>
  <mat-icon class="icon"> close </mat-icon>
</div>
<mat-divider />
<div class="card-subtitle">
  <h4>
    {{ note().sub_title }}
  </h4>
</div>
<div class="card-content">
  {{ note().content }}
</div>
<div class="card-footer">
  <div class="tags-container">
    @for (tag of note().tags; track tag.id) {
      <notes-tag-badge [tag]="tag" />
    }
  </div>
  <div class="meta">
    <small> Создано: <b>{{ note().created_at | fromTimestamp | date: 'dd.MM.yyyy hh:MM:ss' }}</b> </small>
    <small> Редактировано: <b> {{ note().updated_at | fromTimestamp | date: 'dd.MM.yyyy hh:MM:ss' }}</b> </small>
  </div>
</div>
